# будут игнорироваться все файлы и каталоги с расширением *Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
*Thumbs.db
# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
# слэш в конце указывает, что это каталог
/tmp/
# будут игнорироваться все файлы и каталоги с расширением _old
# вне зависимости от того, в каком каталоге они находятся
*_old
# будут игнорироваться все файлы и каталоги с расширением _backup
# вне зависимости от того, в каком каталоге они находятся
*_backup
# будут игнорироваться все файлы и каталоги с расширением .DS_Store
# вне зависимости от того, в каком каталоге они находятся
*.DS_Store
# будут игнорироваться все файлы и каталоги с расширением .html_old
# вне зависимости от того, в каком каталоге они находятся
*.html_old